<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			Angular Advanced Table
		</li>
	</ul>
</div>
<h3 class="page-title">
	Angular Advanced Table
</h3>

<div class="row">
	<div class="col-md-12">
		<div class="portlet-body simple-table">
			<div class="table-toolbar">
				<div class="row">
					<div class="col-md-6">
						<div class="btn-group">
							<button ng-click="addNew()" class="btn gold">
							Add New <i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<select ng-model="numPerPage" class="form-control input-xsmall input-inline" ng-options="o as o for o in numPerPageRange"></select>
				</div>
			</div>
 			<div class="row datatable-wrap">
				<div class="col-md-12">
					<div ng-hide="tableReady" class="table-preloader">
						<span class="preloader"></span>
					</div>
					<div  class="table-responsive">
					 	<table ng-show="tableReady" class="table-scrollable table table-striped table-hover table-bordered">
							<thead>
							    <tr>
							        <th><a href="#" ng-click="sort('username')">User name</a></th>
							        <th><a href="#" ng-click="sort('fullname')">Full name</a></th>
							        <!-- <th>Date</th> -->
							        <th><a href="#" ng-click="sort('points')">Points</a></th>
							        <th><a href="#" ng-click="sort('status')">Satus</a></th>
							        <th><a href="#" ng-click="sort('notes')">Notes</a></th>
 							        <th>View</th>
							    </tr>
						    </thead>
						    <tbody>
								<tr>
									<td>
										<input type="text" ng-model="search.username" class="form-control">
									</td>
									<td>
										<input type="text" ng-model="search.fullname" class="form-control">
									</td>
									<!-- <td>
  										<p class="input-group">
							              <input readonly placeholder="From" fix type="text" class="form-control input-small" datepicker-popup="{{format}}" ng-model="search.date" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
							              <span class="input-group-btn input-small">
							                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							              </span>
							            </p>							 
									</td> -->
									<td>
										<input type="text" ng-model="search.points" class="form-control">
									</td>
									<td>
										<select fix ng-model="search.status" class="form-control select-filter" 
											ng-options="option.status as option.status for option in items | unique:'status'">
											<option value="">All</option>
										</select>
									</td>	
									<td>
										<input type="text" ng-model="search.notes" class="form-control">
									</td>
									<td></td>
								</tr>
						    	
						    	<tr	ng-repeat="item in filtered">
						    		<td>
						    			<div ng-hide="isEditable($index)">
						    				{{ item.username }}
						    			</div>
						    			<div ng-show="isEditable($index)">
						    				<input class="form-control " type="text" ng-model="item.username">
						    			</div>
						    		</td>
						    		<td>
						    			<div ng-hide="isEditable($index)">
						    				{{ item.fullname }}
						    			</div>
						    			<div ng-show="isEditable($index)">
						    				<input class="form-control " type="text" ng-model="item.fullname">
						    			</div>
						    		</td>
						    		<!-- <td>
						    			{{ item.date }}
						    		</td> -->
						    		<td>
						    			<div ng-hide="isEditable($index)">
						    				{{ item.points }}
						    			</div>
						    			<div ng-show="isEditable($index)">
						    				<input class="form-control " type="text" ng-model="item.points">
						    			</div>
						    		</td>
						    		<td>{{ item.status }}</td>
						    		<td>{{ item.notes }}</td>
						    		<td><a href=""><i class="icon-magnifier-add"></i></a></td>
						    	</tr>
						    </tbody>
						</table>
						<table ng-show="isEmpty()" class="table-scrollable table table-striped table-hover table-bordered">
							<tbody>
								<tr>
									<td>No entries found</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row" ng-hide="isEmpty()">
				<div class="col-md-6 col-md-offset-6">
					<pagination class="pull-right" total-items="totalItems" items-per-page="numPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
				</div>
			</div>
		</div>
	</div>
</div>

