<div class="modal-header">
    <h3 class="modal-title">Delete</h3>
</div>
<div class="modal-body">
    You want to delete this item?
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Close</button>
    <button class="btn btn-danger" ng-click="delete(item, index)">Delete</button>
</div>