@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.eot');
    src: url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto_condensed/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto_light/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_light/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/roboto_lightcondensed/RobotoCondensed-Light-webfont.eot');
    src: url('../fonts/roboto_lightcondensed/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_lightcondensed/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('../fonts/roboto_lightcondensed/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto_lightcondensed/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto_regular/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

